<!--
  Generated template for the TabbedHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="app-header">
  <ion-navbar color="head" no-shadow="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!toggleSearch" class="page-title">{{this.title}}</ion-title>
    <ion-searchbar *ngIf="toggleSearch" showCancelButton="true" (ionCancel)="togSearch()" (search)="searched($event)" class="search-bar"></ion-searchbar>
    <ion-buttons *ngIf="!toggleSearch" right>
      <button ion-button (click)="goToCalendar()" class="calendar-button">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button (click)="goToCamera()" class="camera-button" clear>
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button *ngIf="!toggleSearch" (click)="togSearch()" class="search-button" clear>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button *ngIf="!toggleSearch && userData.devMode" (click)="goToProfile()" class="search-button" clear>
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button *ngIf="!toggleSearch && userData.devMode" (click)="generatePosts(1)" class="search-button" clear>
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <ion-slides  (ionSlideWillChange)="changeWillSlide($event)" initialSlide="1">
    <ion-slide>
        <ion-content class="content-div">
          <ion-list>
            <ion-card *ngFor="let chat of chats" class="test-post" (click)="goToChat(chat)">
              <ion-item class="post-header">
                <ion-avatar item-start>
                  <ion-icon *ngIf="chat.Type === 'community'; else eventChat" name="contacts" class="chat-icon"></ion-icon>
                  <ng-template #eventChat>
                    <ion-icon name="bonfire" class="chat-icon"></ion-icon>
                  </ng-template>
                </ion-avatar>
                <h2 class="chat-name">{{chat.Name}}</h2>
                <p class="chat-message">{{chat.LastMessage}}</p>
              </ion-item>
            </ion-card>
          </ion-list>
        </ion-content>
    </ion-slide>

    <ion-slide class="content-slide">

        <ion-split-pane when="xs">
          <ion-menu [content]="content" side="right" mode="md">
              <ion-content no-bounce>
                <div class="vertical-tabs">
                  <button ion-button large block clear icon-only [color]="isHome ? 'dark' : 'light'" (click)="goToHome()">
                    <ion-icon name="home"></ion-icon>
                  </button>
                  <button ion-button large block clear icon-only [color]="isGoing ? 'dark' : 'light'" (click)="goToGoingOn()">
                    <ion-icon name="bonfire"></ion-icon>
                  </button>
                  <button ion-button large block clear icon-only [color]="isWorldwide ? 'dark' : 'light'" (click)="goToWorldwide()">
                    <ion-icon name="globe"></ion-icon>
                  </button>
                </div>
              </ion-content>
          </ion-menu>
        
          <ion-nav [root]="rootPage" #content main></ion-nav>
        </ion-split-pane>

        <ion-header class="make-post-header">
          <ion-item class="make-post">
            <ion-input type="text" placeholder="What's up?" class="text-post-input" [(ngModel)]="textPostContext"></ion-input>
            <button ion-button clear item-right (click)="makePost()" class="post-send">
              <ion-icon name="md-send"></ion-icon>
            </button>
          </ion-item>
        </ion-header>

        <ion-content class="feed-content-div" scrollbar-y="false" overflow-scroll="true">
          <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
          <ion-list>
            <ion-card *ngFor="let post of displayPosts" class="text-post">
              <ion-item class="post-header">
                <div class="post-avatar" item-start>

                </div>
                <h2 class="post-name">{{post.Name}}</h2>
                <p class="post-date">{{post.Date}}</p>
                <button ion-button (click)="vote(post._id, -1)" class="vote-buttons down" clear item-end color="danger">
                  <ion-icon name="thumbs-down"></ion-icon>
                </button>
                <ion-badge item-end>{{post.score}}</ion-badge>
                <button ion-button (click)="vote(post._id, 1)" class="vote-buttons up" clear item-end color="secondary">
                  <ion-icon name="thumbs-up"></ion-icon>
                </button>
                <button ion-button (click)="expandPostOptions()" class="post-options-button" clear item-end>
                  <ion-icon name="md-more"></ion-icon>
                </button>
              </ion-item>
              <img *ngIf="post.imageSource" class="post-photo" src="{{post.imageSource}}">
              <ion-card-content class="post-context">
                {{post.Context}}
              </ion-card-content>
            </ion-card>

            <ion-label *ngIf="!postsStillAvailable">There's nothing else here :(</ion-label>

            <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" threshold="2500px">
              <ion-infinite-scroll-content
                loadingSpinner="dots"
                loadingText="Loading nearby posts..." *ngIf="postsStillAvailable">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-list>
        </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content class="content-div my-profile">
        <button ion-button (click)="goToKickBackLiveSettings()" class="settings-button" clear>
          <ion-icon name="settings"></ion-icon>
        </button>
        <ion-card>
          <ion-item>
            Find new friends within 
            <ion-badge color="head" item-end>{{searchDistance}}mi.</ion-badge>
          </ion-item>
          <ion-range min="1" max="100" [(ngModel)]="searchDistance" color="head" class="distanceSelect">
          </ion-range>
        </ion-card>
        <ion-card>
          <ion-item>
            Prefered group size
            <ion-badge color="head" item-end>{{groupSize}} people</ion-badge>
          </ion-item>
          <ion-range snaps="true" min="3" max="20" [(ngModel)]="groupSize" color="head" class="distanceSelect">
          </ion-range>
        </ion-card>
        <ion-card>
          <ion-label item-start>My group should be</ion-label>
          <ion-item>
            <ion-label>All genders</ion-label>
            <ion-checkbox color="head" checked="allGenders" [(ngModel)]="allGenders" (ionChange)="changeAllGenders()"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Only my gender</ion-label>
            <ion-checkbox color="head" [(ngModel)]="myGender" checked="myGender" (ionChange)="changeOnlyMyGender()"></ion-checkbox>
          </ion-item>
        </ion-card>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <button ion-button (click)="goToPlayKickBack()" class="footer-button">Play!</button>
</ion-footer>