<!--
  Generated template for the TabbedHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="app-header">
  <ion-navbar color="head" no-shadow="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!toggleSearch" class="page-title">{{this.title}}</ion-title>
    <ion-searchbar *ngIf="toggleSearch" showCancelButton="true" (ionCancel)="togSearch()" (search)="searched($event)" class="search-bar"></ion-searchbar>
    <ion-buttons *ngIf="!toggleSearch" right>
      <button ion-button (click)="goToCalendar()" class="calendar-button">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button (click)="goToCamera()" class="camera-button" clear>
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button *ngIf="!toggleSearch" (click)="togSearch()" class="search-button" clear>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content no-bounce>
  <ion-slides  (ionSlideWillChange)="changeWillSlide($event)" initialSlide="1">
    <ion-slide>
        <ion-content class="content-div">
          <ion-list>
            <ion-card *ngFor="let chat of chats" class="test-post" (click)="goToChat(chat)">
              <ion-item class="post-header">
                <ion-avatar item-start>
                  <ion-icon *ngIf="chat.Type === 'community'; else eventChat" name="contacts" class="chat-icon"></ion-icon>
                  <ng-template #eventChat>
                    <ion-icon name="bonfire" class="chat-icon"></ion-icon>
                  </ng-template>
                </ion-avatar>
                <h2 class="chat-name">{{chat.Name}}</h2>
                <p class="chat-message">{{chat.LastMessage}}</p>
              </ion-item>
            </ion-card>
          </ion-list>
        </ion-content>
    </ion-slide>

    <ion-slide class="content-slide">

        <ion-split-pane when="xs">
          <ion-menu [content]="content" side="right" mode="md">
              <ion-content no-bounce>
                <div class="vertical-tabs">
                  <button ion-button large block clear icon-only [color]="isHome ? 'dark' : 'light'" (click)="goToHome()">
                    <ion-icon name="home"></ion-icon>
                  </button>
                  <button ion-button large block clear icon-only [color]="isGoing ? 'dark' : 'light'" (click)="goToGoingOn()">
                    <ion-icon name="bonfire"></ion-icon>
                  </button>
                  <button ion-button large block clear icon-only [color]="isNearby ? 'dark' : 'light'" (click)="goToNearby()">
                    <ion-icon name="pin"></ion-icon>
                  </button>
                  <button ion-button large block clear icon-only [color]="isWorldwide ? 'dark' : 'light'" (click)="goToWorldwide()">
                    <ion-icon name="globe"></ion-icon>
                  </button>
                </div>
              </ion-content>
          </ion-menu>
        
          <ion-nav [root]="rootPage" #content main></ion-nav>
        </ion-split-pane>

        <ion-header class="make-post-header">
          <ion-item class="make-post">
            <ion-input type="text" placeholder="What's up?" class="text-post-input" [(ngModel)]="textPostContext"></ion-input>
            <button ion-button clear item-right (click)="makePost()" class="post-send">
              <ion-icon name="md-send"></ion-icon>
            </button>
          </ion-item>
        </ion-header>

        <ion-content class="feed-content-div" scrollbar-y="false">

          <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>

          <ion-list>
            <ion-card *ngFor="let post of displayPosts" class="text-post">
              <ion-item class="post-header">
                <div class="post-avatar" item-start>

                </div>
                <h2 class="post-name">{{post.Name}}</h2>
                <p class="post-date">{{post.Date}}</p>
                <button ion-button (click)="expandPostOptions()" class="post-options-button" clear item-end>
                  <ion-icon name="more"></ion-icon>
                </button>
              </ion-item>
              <img *ngIf="post.imageSource" class="post-photo" src="{{post.imageSource}}">
              <ion-card-content class="post-context">
                {{post.Context}}
              </ion-card-content>
            </ion-card>
          </ion-list>

          <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" threshold="300px" position="bottom">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

        </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-header class="profile-header">
        <ion-card class="profile-card">
            <h2>{{userData.Name}}</h2>
            <p>Friends: {{userData.Friends}}</p>
            <p>Acquaintances: {{userData.Acquaintances}}</p>
            <p>Sociality: {{userData.Sociality}}</p>
        </ion-card>
      </ion-header>
      <ion-content class="content-div my-profile">

        <ion-list>
          <ion-card *ngFor="let post of userData.Posts" class="text-post my-post">
            <ion-item class="post-header">
              <div class="post-avatar" item-start>

              </div>
              <h2 class="post-name">{{post.Name}}</h2>
              <p class="post-date">{{post.Date}}</p>
              <button ion-button (click)="expandPostOptions()" class="post-options-button" clear item-end>
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-item>
            <ion-card-content class="post-context">
              {{post.Context}}
            </ion-card-content>
          </ion-card>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="loadMoreUserPosts($event)" threshold="300px" position="bottom">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <button ion-button (click)="goToMakeEvent()" class="footer-button">Kick It Off!</button>
</ion-footer>